<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <ul>
        <li><a href="{% url 'profile' 1  %}"><h3>Student 1 Profile</h3></a></li>
        <li><a href="{% url 'profile' 2  %}"><h3>Student 2 Profile</h3></a></li>
        <li><a href="{% url 'profile' 3  %}"><h3>Student 3 Profile</h3></a></li>
        <li><a href="{% url 'profile' 4  %}"><h3>Student 4 Profile</h3></a></li>
        <li><a href="{% url 'profile' 5  %}"><h3>Student 5 Profile</h3></a></li>



    </ul>
</body>
</html>