<!DOCTYPE html>
<html>
<head>
    <title>Nero Technology</title>
</head>
<body>
    <h1>{{na}} Technology  </h1>
    <h2>Duration:{{du}}</h2>
    <h3>Work:{{work}}</h3>
    <h3>{{na}} lenght:{{na|length}}</h3>
    <h3>{{na}} UPPER:{{na|upper}}</h3>
    <h3>{{na}} LOWER:{{na|lower}}</h3>
    <h3>{{na}} first cap:{{na|capfirst}}</h3>
    <h3>{{na}} default:{{na|default:'nothing'}}</h3>
    <h3>{{na}} slice:{{na|slice:'3'}}</h3>
    <h3>{{na}} truncatechas:{{na|truncatechars:3}}</h3>
    <h3>{{na}} upper in truncatechars:{{na|upper|truncatechars:3}}</h3>



</body>
</html>
