<!DOCTYPE html>
{% load static  %}
<html>
<head>
    <title>{% block title%} {%  endblock title %} </title>
    {% block corecss %} <link rel="stylesheet" href="{% static 'DURO/css/style.css' %}"> {% endblock corecss %}
    <link rel="stylesheet" href="{% static 'DURO/css/main.css' %}">
    




</head>
<body>
    <ul>
        <li>home 1</li>
        <li>python</li>
        <li>django</li>
        <li>django</li>
        <li>django</li>
        
        <li>django</li>
        <li>django</li>

        



    </ul>
    {% block content %} <h1 class="text-3xl font-bold underline">home page</h1> {% endblock content %}
    {% block com %} This is tech company{% endblock com %}

</body>
</html>