<!DOCTYPE html>
{% load static  %}
{% load static tailwind_tags %}

<html>
<head>
    <title>{% block title%} {%  endblock title %} </title>
    {% block corecss %} <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> {% endblock corecss %}
</head>
<body>
    <ul>
        <li>home 1</li>
        <li>python</li>
        <li>django</li>
    </ul>
	{% tailwind_css %}
    <h1>hrllo</h1>
    <h1>hrllo</h1>
    <h1>hrllo</h1>



    {% block content %} {% endblock content %}
    {% block com %} This is tech company{% endblock com %}

</body>
</html>